@model PosSustemUIU.Models.ProductPurchase

@{
    ViewData["Title"] = "Details";
    int count = 0;
    double totalPrice = 0;
}

<div class="row">
    <div class="col-md-12">
        <div class="card card-body printableArea">
            <h3><b>INVOICE</b> <span class="pull-right">#5669626</span></h3>
            <hr>
            <div class="row">
                <div class="col-md-12">
                    <div class="pull-left">
                        <address>
                            <h3> &nbsp;<b class="text-danger">Purchase Invoice</b></h3>
                            <p class="text-muted m-l-5">
                                <br/> Total Quantity: @Model.TotalQuantity
                                <br/> TotalPrice: @Model.TotalPrice
                                <br/> Total Vat:@Model.TotalVat
                                <br>Reference Internal: @Model.ReferenceInternal 
                                <br/> Reference External: @Model.ReferenceExternal
                                </p>
                        </address>
                    </div>
                    <div class="pull-right text-right">
                        <address>
                            <h3>Form,</h3>
                            <h4 class="font-bold">@Model.Supplier.Name</h4>
                                <br/>@Model.Supplier.MainContact
                                <br/> @Model.Supplier.Email
                            <p class="m-t-30"><b>Invoice Date :</b> <i class="fa fa-calendar"></i> @Model.PurchaseDate</p>
                        </address>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="table-responsive m-t-40" style="clear: both;">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th class="text-center">SN#</th>
                                    <th class="text-right">Product</th>
                                    <th class="text-right">Quantity</th>
                                    <th class="text-right">Price</th>
                                    <th class="text-right">Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var transection in ViewBag.Transections)
                                {
                                    count++;
                                    @(totalPrice += transection.Quantity * transection.Price)
                                    <tr>
                                        <td class="text-center">@count</td>
                                        <td class="text-right">@transection.Product.Name</td>
                                        <td class="text-right">@transection.Quantity</td>
                                        <td class="text-right">@transection.Price</td>
                                        <td class="text-right">@(transection.Quantity * transection.Price)</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="pull-right m-t-30 text-right">
                        <p>Sub - Total amount: @totalPrice TK</p>
                        <hr>
                        <h3><b>Total Amount:</b> @(totalPrice) TK</h3>
                    </div>
                    <div class="clearfix"></div>
                    <hr>
                    <!-- <div class="text-right">
                        <button class="btn btn-danger" type="submit"> Proceed to payment </button>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
