@model ApplicationUser
@{
    ViewData["Title"] = "Employees";

}
<div class="row">
    <div class="col-md-12">
        <div class="card card-body printableArea">
            <div class="row">
                <div class="col-sm-8">
                    <h3 class="pull-left">
                        <address>
                            <h3> &nbsp;<b class="text-danger">@Model.FullName</b></h3>
                            <p class="text-muted m-l-5">Email: @Model.Email
                                <br/> Contact number: @Model.PhoneNumber
                                <br/> DOB: @Model.DateOfBirth
                                <br/> Address: @Model.Address</p>
                        </address>
                    </div>
                <div class="col-sm-4">
                    @if (@Model.Image != null)
                    {
                        <img style="max-width: 150px; float: right" src="~/uploads/users/@Model.Image" class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" alt="">
                        
                    }
                    else{
                        <img style="max-width: 150px; float: right" src="~/uploads/no_image.png" class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" alt="">
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<a>
    <a asp-action="Index">Back to List</a>
</a>