@model IEnumerable<PosSustemUIU.ViewModels.CustomerReportVM>

@{
    ViewData["Title"] = "Reports";
    int count = 0;

}
<div class="card">
    <div class="card-body">
        <h5 class="card-title">Inventroy Customer Sale Report</h5>
        <div class="table-responsive">
            <table id="zero_config" class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th class="text-center">SN#</th>
                        <th class="text-center">Product Name</th>
                        <th class="text-center">Customer Name</th>
                        <th class="text-center">Product Quantity</th>
                        <th class="text-center">Product Price</th>
                        <th class="text-center">Sale Date</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var product in Model){
                        count++;
                        <tr>
                            <td class="text-center">@count</td>
                            <td class="text-center">@product.ProductName</td>
                            <td class="text-center">@product.CustomerName</td>
                            <td class="text-center">@product.Quantity</td>
                            <td class="text-center">@product.Price</td>
                            <td class="text-center">@product.SaleDate</td>
                            
                        </tr>
                    }
                </tbody>
            </table>
        </div>

    </div>
</div>