@model DataTableModel
<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-sm-6">
            <h5 class="card-title">@Model.Heading</h5>
        </div>
        <div class="col-sm-6">
            @if (Model.CreateButton)
            {
                <button type="button" class="btn btn-primary btn-sm float-right">
                    <a asp-controller="@Model.Controller" asp-action="Create" class="text-white">Add New</a>
                </button>   
            }
        </div>
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table id="zero_config" class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th class="text-center" style="width: 5%">SN</th>
                        @if (Model.Columns.Any())
                        {
                            @foreach (var column in Model.Columns)
                            {
                                <th class="text-center">@column</th>                            
                            }
                        }
                        @if (Model.Actions != null && Model.Actions.Any())
                        {
                            <th class="text-center" style="width: 15%">Actions</th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @if (Model.TableData != null && Model.TableData.Any())
                    {
                        int count = 0;
                        foreach (var data in Model.TableData)
                        {
                            count++;
                            <tr style="@( Model.Actions.Contains(TableActions.SoftDelete) && data.IsDeleted ? "background: #f1cfcf;" : "" )">
                                <td class="text-center">@count</td>
                                @if (Model.Keys != null && Model.Keys.Any())
                                {
                                    foreach(var key in Model.Keys){
                                        if (key == "IsActive")
                                        {
                                            <td class="text-center">
                                                @if (ViewHelpers.GetPropertyValue(data, key) == "1")
                                                {
                                                    <a asp-controller="@Model.Controller" asp-action="ChangeActiveStatus" asp-route-id="@data.Id"><span class="badge badge-primary">Yes</span> </a>
                                                }
                                                else{
                                                    <a asp-controller="@Model.Controller" asp-action="ChangeActiveStatus" asp-route-id="@data.Id"><span class="badge badge-danger">No</span></a>
                                                }
                                            </td>
                                        }
                                        else
                                        {
                                            <td class="text-center">@ViewHelpers.GetPropertyValue(data, key)</td>
                                        } 
                                    }
                                }                    
                                @if (Model.Actions != null && Model.Actions.Any())
                                {
                                    <td class="text-center">
                                        @if (Model.Actions.Contains(TableActions.Show))
                                        {
                                            <a  title="Show" asp-controller="@Model.Controller" asp-action="Details" asp-route-id="@data.Id" class="btn btn-cyan btn-sm text-white"><i class="fas fa-eye" aria-hidden="true"></i></a>
                                        }
                                        @if (Model.Actions.Contains(TableActions.Edit))
                                        {
                                            if (!data.IsDeleted)
                                            {
                                                <a title="Edit" asp-controller="@Model.Controller" asp-action="Edit" asp-route-id="@data.Id" class="btn btn-success btn-sm text-white"><i class="far fa-edit" aria-hidden="true"></i></a>
                                            }
                                        }
                                        @if (Model.Actions.Contains(TableActions.Delete))
                                        {
                                            if (Model.Actions.Contains(TableActions.SoftDelete) && @data.IsDeleted)
                                            {
                                                <form style="display: inline;" method="POST" asp-controller="@Model.Controller" asp-action="Restore" role="form">
                                                    <input type="hidden" name="Id" value="@data.Id" />
                                                    <button title="Restore" type="submit" class="btn btn-danger btn-sm"><i class="far fas fa-recycle" aria-hidden="true"></i></button>
                                                </form>
                                                <form style="display: inline;" method="POST" asp-controller="@Model.Controller" asp-action="Delete" role="form">
                                                    <input type="hidden" name="Id" value="@data.Id" />
                                                    <button title="Delete Permanently" type="submit" class="btn btn-danger btn-sm"><i class="far fa-trash-alt" aria-hidden="true"></i></button>
                                                </form>
                                            }
                                            else{
                                                <form style="display: inline;" method="POST" asp-controller="@Model.Controller" asp-action="@( Model.Actions.Contains(TableActions.SoftDelete) ? "SoftDelete" : "Delete")" role="form">
                                                    <input type="hidden" name="Id" value="@data.Id" />
                                                    <button title="Delete" type="submit" class="btn btn-danger btn-sm"><i class="far fa-trash-alt" aria-hidden="true"></i></button>
                                                </form>
                                            }
                                            
                                        }
                                        
                                    </td>
                                }
                            </tr>
                        }

                    }
                </tbody>
                
                <tfoot>
                    <tr>
                        <th class="text-center" style="width: 5%">SN</th>
                        @if (Model.Columns.Any())
                        {
                            @foreach (var column in Model.Columns)
                            {
                                <th class="text-center">@column</th>                            
                            }
                        }
                        @if (Model.Actions != null && Model.Actions.Any())
                        {
                            <th class="text-center" style="width: 15%">Actions</th>
                        }
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>